html {
  font-family: Arial, sans-serif;
}

body{
  background-image: url("https://dn721309.ca.archive.org/0/items/theoriginalfilesofsomewindowswallpapers/bliss%20600dpi.jpg");
  background-size: contain;
}
